body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdfa;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ecd8bf;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: 600;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #3e2f1c;
}

a:hover {
    font-size: 24px;
    color: #ce9245;
}

.nav-links a {
    margin-left: 1.5rem;
    font-weight: 500px;
    transition-duration: 0.4s;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 3rem;
    background-color: #fefae0;
}

.hero-text {
    flex: 1;
    padding-right: 20rem;
    margin-left: 50px;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-text p {
    color: #625f5f;
    font-size: 1.5rem;
}

.hero-text button {
    font-size: 20px;
    margin-bottom: 12px;
    padding: 12px;
    border: 2px solid #fefae0;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-weight: bold;
}

button:hover {
    color: #e2b57b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.image-credit {
    font-size: 0.75rem;
    margin-top: 0.50rem;
    color: #888;
}

h1, h2, h3 {
    font-family: Playfair Display, serif;
    color: #3e2f1c;
}

.info {
    padding: 3rem 2rem;
    background-color: #ffffff;
    text-align: center;
}

.info h2 {
    margin-top: -1rem;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.card img {
    width: 100%; 
  border-radius: 0.5rem;
}

.card p {
    margin-top: 0.5rem;
}
